@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@mixin mobileS {
    @media screen and (max-width: 350px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin mobileL {
    @media screen and (max-width: 580px) {
        @content;
    }
}



@mixin tablet {
    @media screen and (max-width: 833px) {
        @content;
    }
}


* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    // outline: 1px solid blue;

    input,
    label {
        border: #DADCE0 1px solid;
        outline: none;
        min-height: 50px;
        width: 100%;
        // width: 300px;
        padding-inline: 15px;
        border-radius: 15px;
        font-size: 15px;
        // position: relative;

        @include mobile {
            // width: 210px;
        }
    }

    .inputBlur:invalid {
        border-color: red;
        border-width: 2px;
        animation: shake .2s;
    }

    input:focus:valid {
        border-color: green;
        border-width: 2px;
    }

    button,
    input[type="file"],
    a,
    Link,
    label {
        cursor: pointer;
    }

    a,
    Link {
        color: #04A8E8;
    }

    button {
        background: #04A8E8;
        border: none;
        height: 48px;
        width: 180px;
        font-size: 14px;
        color: #fff;
        border-radius: 12px;
        outline: none;
        transition: all ease .1s;
    }

    button:active {
        scale: 95%;
        filter: grayscale(50%);
    }

    .none {
        display: none;
        // width: 0;
        // height: 0;
        // border: none;
    }

    .error {
        color: red !important;
    }


}


body {
    // background: #e6e6e6;
    padding: 0;
    margin: 0;
    font-family: "segoe ui";
    min-width: 250px;

    .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 50px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        background-image: url("./images/background.png");
        background-position: top;
        background-size: cover;
        background-attachment: local;
        z-index: 1000;

        .logo {
            height: 100%;
        }

        .navDiv {
            cursor: pointer;



            .nav {
                position: relative;
                width: 22px;
                height: 2px;
                background: #fff;
                border-radius: 20px;
                margin-block: 7px;
            }

            .nav::after,
            .nav::before {
                content: "";
                position: absolute;
                width: 22px;
                height: 2px;
                top: 7px;
                background: #fff;
                border-radius: 20px;
            }

            .nav::before {
                top: -7px;
                border-radius: 20px;
            }

        }

        .navLinks,
        .signin {
            display: flex;
            list-style: none;
            gap: 50px;
            margin: 0;
            padding: 0;
            transition: all ease .2s;

            li {
                transition: all ease .2s;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            li:hover {
                opacity: 75%;
                transform: scaleX(115%);
            }

            i {
                font-size: 20px;
                margin-right: 5px;
            }

            @include tablet {
                flex-direction: column;
                width: 177px;
                height: 202px;
                position: absolute;
                list-style: none;
                gap: 0;
                top: 62px;
                left: 20px;
                border: #444444 1px solid;
                border-radius: 20px;
                overflow: hidden;
                backdrop-filter: blur(7px);
                text-align: center;
                color: #000;

                li {
                    width: 175px;
                    height: 50px;
                    padding: 10px;
                }

                li:not(:last-child) {
                    border-bottom: #444444 1px solid;
                }

            }

        }


        .signin {
            gap: 20px;
            transition: all .2s ease .1s;


            @include tablet {
                top: 264px;
                height: 52px;
                gap: 0;

            }
        }

        @include tablet {
            padding: 20px 20px;

            .hide {
                width: 0;
                height: 0;
                opacity: 0;
                transition: all .2s ease;
            }

            .none {
                display: block;
            }
        }



    }

    .banner {
        height: 45vw;
        max-height: 100vh;
        background-image: url(images/background.png);
        background-position: top;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;

        .padding {
            height: 60px;
            width: 100%;
        }

        .contents {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: calc(100% - 60px);

            .left {
                position: relative;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                @include mobile() {
                    justify-content: flex-start;
                }


                .note {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: left;
                    left: 0;
                    width: 100%;


                }

                p {
                    margin: 0;
                    font-weight: 900;
                    font-size: 25px;

                    span {
                        display: block;
                        font-size: 15px;
                    }

                    @include tablet {
                        font-size: 15px;

                        span {
                            font-size: 8px;
                        }
                    }

                    @include mobileS {
                        font-size: 10px;

                        span {
                            font-size: 6px;
                        }
                    }
                }

                .note {
                    height: 50%;
                }
            }

            .right {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                // padding: 50px;

                img {
                    width: 40%;
                    box-sizing: border-box;
                    object-fit: cover;

                    @include tablet {
                        z-index: 2000;
                    }
                }
            }
        }
    }

    .formContainer {
        padding: 70px 0% 0 10%;
        display: flex;
        flex-direction: column;

        @include tablet {
            padding-inline: 10% 10%;
            justify-content: center;
            // text-align: center;
            align-items: center;
        }


        .heading {
            h2 {
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 13px;
            }
        }

        .form {
            margin-block: 30px;
            display: flex;
            flex-direction: column;

            input,
            label {
                width: 300px;
            }

            @include mobileS() {

                input,
                label {
                    width: 210px;
                }
            }

            @include tablet {
                justify-content: center;
                align-items: center;
            }

            p {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
            }

            .email {
                display: flex;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }
            }

            .details {
                display: flex;
                column-gap: 67px;
                flex-wrap: wrap;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }
            }

            .cv {
                display: flex;
                position: relative;
                flex-direction: column;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }

                label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #BFBFBF;



                    p {
                        padding-right: 5px;
                        overflow: hidden;
                        overflow-wrap: break-word;
                    }

                    img {
                        height: 50px;
                        padding-block: 15px;
                    }

                }

                .file {
                    border: 2px solid rgb(0, 255, 0);
                }

                input {
                    opacity: 0;
                    position: absolute;
                    top: 30%;
                    z-index: -1;
                }
            }

            button {
                height: 50px;
                width: 180px;
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }

    .footer {
        display: flex;
        position: relative;
        background: #f6f6f6;
        flex-wrap: wrap-reverse;
        padding: 5% 10%;
        justify-content: space-between;
        column-gap: 26.5px;

        @include tablet {
            column-gap: 35px;
            justify-content: center;

        }


        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-block: 10px;
        }

        .about {
            flex: 2;
            min-width: 200px;


            @include tablet {
                order: 2;
            }

            img {
                height: 30px;
            }

            p {
                line-height: 25px;
            }
        }

        .company {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 200px;

            @include tablet {
                order: 1;
            }
        }

        .question {
            flex: 2;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            min-width: 200px;

            h3 {
                font-size: 30px;
                font-weight: normal;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin: 0;
            }


            .social h3 {
                font-size: 17px;
            }

            .icons {
                display: flex;
                gap: 5px;
                margin-block: 10px;

                i {
                    color: #20404A;
                    font-size: 30px;
                }
            }

            .store {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                img {
                    height: 50px;
                }
            }
        }

        .footernav {
            position: absolute;
            top: 50%;
            right: 10%;
            color: #17B3F0;
            font-size: 30px;
        }
    }

    .copyRight {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        padding: 1px 50px;
        flex-wrap: wrap-reverse;

        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 10px;
            margin: 0;
        }

    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 70px);
        width: 100%;
        margin-top: 70px;
        padding: 10px;
        // overflow: hidden;

        .loginBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border: 1px solid #DADCE0;
            border-radius: 20px;
            padding: 40px 40px;
            width: 448px;

            .forgetPassword {
                font-size: 12px;
                display: flex;
                justify-content: space-between;

                span:first-child {
                    color: red;

                }

                span:last-child {
                    color: #04A8E8;
                }
            }

            div {
                position: relative;
                width: 100%;

                // p {
                //     align-self: baseline;
                //     position: absolute;
                //     z-index: 1;
                // }

                input:focus~p,
                input:not([value=""])~p {
                    top: 0px;
                    bottom: 0px;
                    left: 20px;
                    font-size: 11px;
                    opacity: 1;
                    height: 14px;
                    background: #fff;
                }

                .input {
                    font-size: 14px;
                    width: 200px;
                    height: 35px;
                }

                p {
                    font-size: 15px;
                    position: absolute;
                    pointer-events: none;
                    left: 20px;
                    top: 25px;
                    transform: translate(0%, -50%);
                    transition: 0.2s ease all;
                    color: #5f6368;
                }

                span {
                    color: #5f6368;
                    font-size: 12px;
                    font-weight: 500;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin-left: 20px;
                    text-align: start;
                    align-self: flex-start;
                }
            }


            .button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                h6 {
                    margin-left: 10px;
                }

                button {
                    width: fit-content;
                    padding-inline: 20px;
                    height: 36px;
                    border-radius: 8px;
                }
            }

            h6,
            h1,
            p {
                margin: 0;
            }
        }

        @include mobileL() {
            padding: 0;
            justify-content: start;

            .loginBox {
                width: 100%;
                border: none;
            }
        }

        @include mobile() {
            .loginBox {
                padding: 24px;
            }
        }
    }

    .account {
        padding-top: 60px;
        background-image: url("./images/background.png");
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;

        .info {
            display: flex;
            width: 100%;
            align-items: center;
            flex-wrap: wrap;
            // overflow: hidden;
            // justify-content: space-around;

            .img {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30vw;

                img {
                    height: 70%;
                    object-fit: cover;
                    border-radius: 50%;
                    width: 70%;
                }
            }

            .details {
                display: flex;
                flex-direction: column;
            }

            @include mobile() {
                .img {
                    width: 100%;
                    height: 50%;

                    img {
                        width: 50vw;
                    }
                }

                .details {
                    width: 100%;
                    text-align: center;
                }

                h1 {
                    font-size: 24px;
                }

                h1,
                h3 {
                    transform: scale(70%);

                }
            }
        }

        .userDetails {
            padding: 20px 40px;

            ul {
                border-radius: 20px;
                border: 1px solid #DADCE0;
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-direction: column;


                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 20px;
                    &:not(:last-child) {
                        border-bottom: 1px solid #DADCE0;
                    }

                    h4 {
                        margin: 0;
                        width: 100%;
                    }

                    span {
                        width: 100%;
                        color: #5f6368;

                        &::before {
                            content: ": ";
                        }
                    }
                }

            }
            @include mobile() {
                ul{
                    li{
                        flex-direction: column;
                        span{
                            &::before{
                                content: none;
                            }
                        }
                    }
                }
            }
        }

        .update {
            position: fixed;
            background: #f6f6f6;
            padding: 50px 10%;
            display: flex;
            flex-direction: column;
            z-index: 100;
            justify-content: center;
            top: 100px;
            left: 50%;
            transform: translate(-50%, 0);
            gap: 10px;
            border-radius: 20px;
            border: 1px solid #000;
            // box-shadow:  7px 7px 7px #BFBFBF, -7px -7px 7px #b8b8b8;
            transition: all ease .5s;
            // overflow: hidden;



            i {
                position: absolute;
                right: 15px;
                top: 15px;
                margin: 10px;
                font-size: 25px;
            }

            #profile {
                opacity: 0;
                position: absolute;
                z-index: -1;
            }

            label {
                border: dashed .1px #707070;
                width: 100%;
                background: #fff;
                height: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0;
                overflow: hidden;

                img {
                    object-fit: contain;
                }

                button {
                    font-size: 22px;
                    scale: 50%;
                }

                &:active {
                    background: #BFBFBF;
                }
            }

            @include mobile() {}

        }


        .btn {
            display: flex;
            gap: 5%;
            justify-content: center;
        }

        h1,
        h3,
        p {
            margin: 0;
        }
    }

    .otherSignin {
        display: flex;
        flex-direction: column;
        width: 448px;

        // .or {
        //     font-size: 18px;
        //     font-weight: 500;
        //     margin: 10px;
        //     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        // }

        button {
            width: 100%;
            background: #fff;
            color: #5f6368;
            border: 1px solid #DADCE0;
            margin-top: 10px;
            text-align: left;

            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 42px;
                height: 42px;
                background-size: contain;
            }

            .googleIcon {
                background: url("./images/g-normal.png") transparent 5px 50% no-repeat;
            }

            .phoneIcon {
                background: url("./images/cell-phone.png") transparent 5px 50% no-repeat;
            }

            .emailIcon {
                background: url("./images/mail.png") transparent 5px 50% no-repeat;
            }

        }

        @include mobileL() {
            width: 100%;
            padding: 0px 40px;
        }

        @include mobile() {
            padding: 0px 24px;

            button {
                font-size: 12px;
            }
        }
    }

    .popup {
        background: #282828;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 250px;
        min-height: 50px;
        border-radius: 10px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        padding: 10px;
        padding-right: 30px;

        .close {
            position: absolute;
            right: 10px;
            top: 5px;
            cursor: pointer;
            font-size: 25px;
        }
    }

}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    20% {
        margin-left: 0.5rem;
    }

    40% {
        margin-left: -0.5rem;
    }

    60% {
        margin-left: 0.5rem;
    }

    80% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }

}