@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@mixin mobileS {
    @media screen and (max-width: 350px) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}



@mixin tablet {
    @media screen and (max-width: 833px) {
        @content;
    }
}


* {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    // outline: 1px solid blue;

    input,
    label {
        border: #707070 1px solid;
        outline: none;
        height: 50px;
        width: 300px;
        padding-inline: 15px;
        border-radius: 15px;
        font-size: 15px;

        @include mobile {
            width: 230px;
        }
    }

    :invalid {
        border-color: red;
        border-width: 2px;
        animation: shake .2s;
    }

    :focus:valid {
        border-color: green;
        border-width: 2px;
    }

    i {
        color: #20404A;
    }

    button,
    input[type="file"],
    a,
    label {
        cursor: pointer;
    }

    .none {
        display: none;
    }



}


body {
    // background: #e6e6e6;
    padding: 0;
    margin: 0;
    font-family: "segoe ui";
    min-width: 250px;

    .navbar {
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 20px 50px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        background-image: url("./images/background.png");
        background-position: top;
        background-size: cover;
        background-attachment: local;
        z-index: 1000;
        
        .logo {
            height: 100%;
        }

        .nav {
            position: relative;
            width: 22px;
            height: 2px;
            background: #fff;
            border-radius: 20px;
        }

        .nav::after,
        .nav::before {
            content: "";
            position: absolute;
            width: 22px;
            height: 2px;
            top: 7px;
            background: #fff;
            border-radius: 20px;
        }

        .nav::before {
            top: -7px;
            border-radius: 20px;
        }

        .navLinks {
            display: flex;
            list-style: none;
            gap: 50px;
            margin: 0;
            padding: 0;
            transition: all ease .2s;

            li {
                transition: all ease .2s;
                cursor: pointer;
            }

            li:hover {
                opacity: 75%;
                transform: scaleX(115%);
            }

            @include tablet {
                width: 177px;
                height: 202px;
                position: absolute;
                list-style: none;
                gap: 0;
                top: 70px;
                left: 20px;
                border: #444444 1px solid;
                border-radius: 20px;
                overflow: hidden;
                backdrop-filter: blur(7px);
                flex-direction: column;
                text-align: center;
                color: #000;

                li {
                    width: 175px;
                    height: 50px;
                    padding: 10px;
                }

                li:not(:last-child) {
                    border-bottom: #444444 1px solid;
                }

            }

        }

        
        .signin {
            display: flex;
            gap: 20px;
            transition: all .2s ease .1s ;
            
            
            @include tablet {
                flex-direction: column;
                position: absolute;
                left: 20px;
                overflow: hidden;
                top: 272px;
                gap: 0;
                width: 177px;
                height: 102px;
                text-align: center;
                border: #444444 1px solid;
                border-radius: 20px;
                color: #000;
                backdrop-filter: blur(7px);
                
                p {
                    width: 175px;
                    height: 50px;
                    margin: 0;
                    padding: 10px;
                }
                
                p:not(:last-child) {
                    border-bottom: #444444 1px solid;
                }
                
            }
        }
        @include tablet {
            padding: 20px 20px;
            .hide {
                width: 0;
                height: 0;
                opacity: 0;
                transition: all .2s ease;
            }

            .none {
                display: block;
            }
        }



    }

    .banner {
        height: 45vw;
        max-height: 100vh;
        background-image: url(images/background.png);
        background-position: top;
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;

        // overflow: hidden;
        .padding {
            height: 60px;
            width: 100%;
        }

        .contents {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: calc(100% - 60px);

            .left {
                position: relative;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                @include mobile(){
                    justify-content: flex-start;
                }


                .note {
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: left;
                    left: 0;
                    width: 100%;


                }

                p {
                    margin: 0;
                    font-weight: 900;
                    font-size: 25px;

                    span {
                        display: block;
                        font-size: 15px;
                    }

                    @include tablet {
                        font-size: 15px;

                        span {
                            font-size: 8px;
                        }
                    }
                    @include mobileS{
                        font-size: 10px;
                        span {
                            font-size: 6px;
                        }
                    }
                }

                .note {
                    height: 50%;
                }
            }

            .right {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                // padding: 50px;

                img {
                    width: 40%;
                    box-sizing: border-box;
                    object-fit: cover;
                    
                    @include tablet{
                        z-index: 2000;
                    }
                }
            }
        }
    }

    .formContainer {
        padding: 70px 0% 0 10%;
        display: flex;
        flex-direction: column;

        @include tablet {
            padding-inline: 10% 10%;
            justify-content: center;
            // text-align: center;
            align-items: center;
        }


        .heading {
            h2 {
                margin: 0;
            }

            p {
                margin: 0;
                font-size: 13px;
            }
        }

        .form {
            margin-block: 30px;
            display: flex;
            flex-direction: column;

            @include tablet {
                justify-content: center;
                align-items: center;
            }

            p {
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 12px;
            }

            .email {
                display: flex;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }
            }

            .details {
                display: flex;
                column-gap: 67px;
                flex-wrap: wrap;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }
            }

            .cv {
                display: flex;
                flex-direction: column;

                @include tablet {
                    justify-content: center;
                    align-items: center;
                }

                label {
                    display: flex;
                    justify-content: space-between;
                    background: #BFBFBF;



                    img {
                        height: 100%;
                        padding-block: 15px;
                    }

                }

                input {
                    display: none;
                }
            }

            button {
                background: #04A8E8;
                height: 50px;
                width: 180px;
                color: #fff;
                border-radius: 15px;
                font-size: 20px;
                margin-top: 30px;
                border: none;
                outline: none;
            }
        }
    }

    .footer {
        display: flex;
        background: #f6f6f6;
        flex-wrap: wrap-reverse;
        padding: 5% 10%;
        justify-content: space-between;
        column-gap: 26.5px;
        
        @include tablet {
            column-gap: 35px;
            justify-content: center;

        }


        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-block: 10px;
        }

        .about {
            flex: 2;
            min-width: 200px;


            @include tablet {
                order: 2;
            }

            img {
                height: 30px;
            }

            p {
                line-height: 25px;
            }
        }

        .company {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 200px;

            @include tablet {
                order: 1;
            }
        }

        .question {
            flex: 2;
            display: flex;
            gap: 10px;
            flex-direction: column;
            justify-content: space-between;
            min-width: 200px;

            h3 {
                font-size: 30px;
                font-weight: normal;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                margin: 0;
            }


            .social h3 {
                font-size: 17px;
            }

            .icons {
                display: flex;
                gap: 5px;
                margin-block: 10px;

                i {
                    font-size: 30px;
                }
            }

            .store {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                img {
                    height: 50px;
                }
            }
        }
    }

    .copyRight {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        padding: 1px 50px;
        flex-wrap: wrap-reverse;

        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 10px;
            margin: 0;
        }

    }
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }

    20% {
        margin-left: 0.5rem;
    }

    40% {
        margin-left: -0.5rem;
    }

    60% {
        margin-left: 0.5rem;
    }

    80% {
        margin-left: -0.5rem;
    }

    100% {
        margin-left: 0rem;
    }

}